--skip-bodies-non-prj
-D __puma
-D __STDC__
-D OBJC_NEW_PROPERTIES
-D _LP64
-D __APPLE_CC__=5646
-D __APPLE__
-D __BLOCKS__
-D __CHAR_BIT__=8
-D __CONSTANT_CFSTRINGS__
-D __DBL_DENORM_MIN__=4.9406564584124654e-324
-D __DBL_DIG__=15
-D __DBL_EPSILON__=2.2204460492503131e-16
-D __DBL_HAS_DENORM__
-D __DBL_HAS_INFINITY__
-D __DBL_HAS_QUIET_NAN__
-D __DBL_MANT_DIG__=53
-D __DBL_MAX_10_EXP__=308
-D __DBL_MAX_EXP__=1024
-D __DBL_MAX__=1.7976931348623157e+308
-D __DBL_MIN_10_EXP__=(-307)
-D __DBL_MIN_EXP__=(-1021)
-D __DBL_MIN__=2.2250738585072014e-308
-D __DEC128_DEN__=0.000000000000000000000000000000001E-6143DL
-D __DEC128_EPSILON__=1E-33DL
-D __DEC128_MANT_DIG__=34
-D __DEC128_MAX_EXP__=6144
-D __DEC128_MAX__=9.999999999999999999999999999999999E6144DL
-D __DEC128_MIN_EXP__=(-6143)
-D __DEC128_MIN__=1E-6143DL
-D __DEC32_DEN__=0.000001E-95DF
-D __DEC32_EPSILON__=1E-6DF
-D __DEC32_MANT_DIG__=7
-D __DEC32_MAX_EXP__=96
-D __DEC32_MAX__=9.999999E96DF
-D __DEC32_MIN_EXP__=(-95)
-D __DEC32_MIN__=1E-95DF
-D __DEC64_DEN__=0.000000000000001E-383DD
-D __DEC64_EPSILON__=1E-15DD
-D __DEC64_MANT_DIG__=16
-D __DEC64_MAX_EXP__=384
-D __DEC64_MAX__=9.999999999999999E384DD
-D __DEC64_MIN_EXP__=(-383)
-D __DEC64_MIN__=1E-383DD
-D __DECIMAL_DIG__=21
-D __DEC_EVAL_METHOD__=2
-D __DEPRECATED
-D __DYNAMIC__
-D __ENVIRONMENT_MAC_OS_X_VERSION_MIN_REQUIRED__=1066
-D __EXCEPTIONS
-D __FINITE_MATH_ONLY__=0
-D __FLT_DENORM_MIN__=1.40129846e-45F
-D __FLT_DIG__=6
-D __FLT_EPSILON__=1.19209290e-7F
-D __FLT_EVAL_METHOD__=0
-D __FLT_HAS_DENORM__
-D __FLT_HAS_INFINITY__
-D __FLT_HAS_QUIET_NAN__
-D __FLT_MANT_DIG__=24
-D __FLT_MAX_10_EXP__=38
-D __FLT_MAX_EXP__=128
-D __FLT_MAX__=3.40282347e+38F
-D __FLT_MIN_10_EXP__=(-37)
-D __FLT_MIN_EXP__=(-125)
-D __FLT_MIN__=1.17549435e-38F
-D __FLT_RADIX__=2
-D __GNUC_GNU_INLINE__
-D __GNUC_MINOR__=2
-D __GNUC_PATCHLEVEL__
-D __GNUC__=4
--gnu
-D __GNUG__=4
-D __GXX_ABI_VERSION=1002
-D __GXX_WEAK__
-D __INTMAX_MAX__=9223372036854775807L
-D __INTMAX_TYPE__=long int
-D __INT_MAX__=2147483647
-D __LDBL_DENORM_MIN__=3.64519953188247460253e-4951L
-D __LDBL_DIG__=18
-D __LDBL_EPSILON__=1.08420217248550443401e-19L
-D __LDBL_HAS_DENORM__
-D __LDBL_HAS_INFINITY__
-D __LDBL_HAS_QUIET_NAN__
-D __LDBL_MANT_DIG__=64
-D __LDBL_MAX_10_EXP__=4932
-D __LDBL_MAX_EXP__=16384
-D __LDBL_MAX__=1.18973149535723176502e+4932L
-D __LDBL_MIN_10_EXP__=(-4931)
-D __LDBL_MIN_EXP__=(-16381)
-D __LDBL_MIN__=3.36210314311209350626e-4932L
-D __LITTLE_ENDIAN__
-D __LONG_LONG_MAX__=9223372036854775807LL
-D __LONG_MAX__=9223372036854775807L
-D __LP64__
-D __MACH__
-D __MMX__
-D __NO_INLINE__
-D __PIC__=2
-D __PTRDIFF_TYPE__=long int
--ptrdiff-type "long int"
-D __REGISTER_PREFIX__
-D __SCHAR_MAX__=127
-D __SHRT_MAX__=32767
-D __SIZE_TYPE__=long unsigned int
--size-type "long unsigned int"
-D __SSE2_MATH__
-D __SSE2__
-D __SSE3__
-D __SSE_MATH__
-D __SSE__
-D __SSP__
-D __STDC_HOSTED__
-D __STDC__
-D __UINTMAX_TYPE__=long unsigned int
-D __USER_LABEL_PREFIX__=_
-D __VERSION__="4.2.1 (Apple Inc. build 5646)"
-D __WCHAR_MAX__=2147483647
-D __WCHAR_TYPE__=int
-D __WINT_TYPE__=int
-D __amd64
-D __amd64__
-D __block=__attribute__((__blocks__(byref)))
-D __cplusplus
-D __k8
-D __k8__
-D __pic__=2
-D __private_extern__=extern
-D __strong
-D __tune_core2__
-D __weak=__attribute__((objc_gc(weak)))
-D __x86_64
-D __x86_64__
-I /Library/Frameworks (framework directory)
-I /System/Library/Frameworks (framework directory)
-I /usr/include
-I /usr/lib/gcc/i686-apple-darwin10/4.2.1/include
-I /usr/include/c++/4.2.1/backward
-I /usr/include/c++/4.2.1/i686-apple-darwin10/x86_64
-I /usr/include/c++/4.2.1
-I libantlr3c-3.2/include
-I libantlr3c-3.2
-I .
